<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      [ngClass]="{hidden: !(isHandset | async)!.matches}"
      fixedInViewport = "true"
      [attr.role]="(isHandset | async)!.matches ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
      [opened]="(isHandset | async).matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/graficas']">Consulta por Aplicaciones</a>
      <a mat-list-item [routerLink]="['/admin']">Perfil</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">dynamic_feed</mat-icon>
      </button>
      <span class="title"><a [routerLink]="['/home']">MetroGas</a></span>
      <span class="spacer"></span>
      <a id="nav-mobile" [routerLink]="['/login']" >Ingresar</a>
      <a id="nav-mobile" [routerLink]="['/home']" >Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!--   routerLinkActive="active" *ngIf="validarIngreso == 'true'" -->