.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav{
  background-color: #0563a7
}

.mat-toolbar{
  background-color:  #00B3E3
}


.mat-list-item{
  color: white
}

.spacer{
  flex: 1 1  auto
}

mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 17px
}

.title{
  font-size: 25px
}
