#control_wrapper {
    max-width: 220px;
    margin: 30px auto;
    padding-top: 50px;
}


#container-btn{
    background-color: #FF6A14;
}

#table_wrapper{
    transform: scale() ;
    size: 200px
}

#pie_chart{
    transform: scale() ;
    size: 250px;
}

#barChart{
    transform: scale();
    width: 200px
}

table {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px
  }

#title{
   text-align: center;
}
