<div style="margin-top: auto">
  <h1></h1>
  <div id="control_wrapper">
    <ejs-daterangepicker placeholder='Elegir fecha o rango de fechas' id="date_selected" [startDate]='start'
      (click)="satrtD = startDate" [endDate]='end' (click)="endD = endDate">
    </ejs-daterangepicker>
  </div>
</div>


<div class="container">


  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Items por Página
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" (click)="count = 5">5</a>
      <a class="dropdown-item" (click)="count = 10">10</a>
      <a class="dropdown-item" (click)="count = 15">15</a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div id="table_wrapper" class="col-10">
      <table mdbTable class="centered">
        <thead>
          <tr>
            <th *ngFor="let head of tableElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody *ngFor="let dat of datosClientes | paginate: { itemsPerPage: count, currentPage: page } ">
          <tr mdbTableCol>
            <td>{{dat.id}}</td>
            <td>{{dat.nombre}}</td>
            <td>{{dat.apellido}}</td>
            <td>{{dat.email}}</td>
            <td>{{dat.createAt}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="justify-content-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>



  <div class="row justify-content-center">
    <div id="button" class="white-text">
      <a (click)="exportAsXLSX()" class="waves-effect waves-light btn" id="container-btn">
        Exportar<mat-icon matSuffix>assignment_returned</mat-icon></a>
    </div>
  </div>

</div> <!-- del container -->