<div>


<form (ngSubmit)="datosIngresados(forma)" #forma="ngForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre de Usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="usuario" name="name" [(ngModel)]="user.nombreUsuario">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="password" name="password" [(ngModel)]="user.password">
        </div>
        <button type="submit" (click)="saveUserToken(token)" (click)="validar(val)" class="btn btn-primary">Log in</button>
        
    </form>
</div>

<!--
<div id="container">
    <form (ngSubmit)="datosIngresados(forma)" #forma="ngForm">
        <div class="form-group">
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Nombre de Usuario</mat-label>
                    <input class="form-control" matInput placeholder="" [(ngModel)]="user.nombreUsuario"
                        name="nombreUsuario">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    <input class="form-control" matInput placeholder="" [(ngModel)]="user.password" name="password">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            

        </div>
           <div id="button">
            <a class="white-text waves-effect waves-light btn" id="container-btn">
                <i class="small material-icons right">person</i>Login</a>
        </div>
    </form>
</div> -->
